
/* styles.css */
:root {
  --azureweb: #E8F8F7;
  --olivine: #AFC674;
  --kobicha: #62391A;
  --mossgreen: #979A64;
  --umber: #64544A;
  --satinsheengold: #D39D40;
  --rawumber: #925940;
  --sage: #B8BF7A;
  --white: #FEFEFE;
  --britishracinggreen: #0C3B22;
  --lightbback:#212226;
}



/* =========================================
                Html, Body
============================================ */

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}


/* =========================================
                Navigation Bar
============================================ */

.navbar {
  background-color: var(--satinsheengold);
  font-family: "Raleway", sans-serif;
}

/* Assuming .navbar is your navigation bar's class */
.navbar a {
  color: var(--white); /* Set the text color for links */
  text-decoration: none; /* Optional: removes underline from links */
}

.navbar a:hover, .navbar a:focus {
  color: var(--lightbback); /* Change color on hover/focus */
}


/* =========================================
                Buttons
============================================ */

.btn   {
  background-color: var(--satinsheengold);
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  
}

.btn-primary {
  background-color:  var(--white);
  color: var(--satinsheengold);
  border: 1px solid  var(--white);
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--white);;
  background-color: var(--lightbback);;
  border: 1px solid  var(--lightbback);;
}





